<!Doctype html>
<html>
    <head>
        <h1> TEST ELECTRONICS ARTS </h1>

    </head>

   <body>
        <p>
           This app help to classify text based on its content.
        </p> 

        <p>
            There are three languages allowed, English, Spanish and French. Moreover there are four classes: 
            Wikipedia, Amazon producs reviews, Conferences paper and PAN.
        </p>

       <form method="POST">
            <p> Enter text that will be clasified<br>
                <textarea rows=6 cols = 60 name="text"></textarea></p>
            
            <div class="rows">
                <div class="col-md-12 col-lg-12 text-center">
                    <button formaction="/results">Predict</button>
                </div>
            </div>
        </form>
        
        <p>
            <b><i>By Jorge Flores</i></b>
        </p>
        
</html>